@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Panelim</h1>
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <li class="breadcrumb-item text-muted">
                    <a class="text-muted text-hover-primary">Administrator</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <li class="breadcrumb-item text-muted">Panelim</li>
            </ul>
        </div>
    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-3 mb-10">
            <div class="card card-flush h-md-50 mb-5 mb-xl-10">
                <div class="card-header pt-5">
                    <div class="card-title d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start"></span>
                            <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">@ViewBag.TotalProducts</span>
                        </div>
                        <span class="text-gray-500 pt-1 fw-semibold fs-6">Toplam Ürün Sayısı</span>
                    </div>
                </div>
                <div class="card-body pt-2 pb-4 d-flex align-items-center mb-10">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="d-flex flex-column content-justify-center w-100">
                                <div class="d-flex fs-6 fw-semibold align-items-center">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #0D0E12"></div>
                                    <div class="text-gray-500 flex-grow-1 me-4">Bileklikler</div>
                                    <div class="fw-bolder text-gray-700 text-xxl-end">@ViewBag.Bracelet</div>
                                </div>
                                <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #0D0E12"></div>
                                    <div class="text-gray-500 flex-grow-1 me-4">Yüzükler</div>
                                    <div class="fw-bolder text-gray-700 text-xxl-end">@ViewBag.Ring</div>
                                </div>
                                <div class="d-flex fs-6 fw-semibold align-items-center">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #0D0E12"></div>
                                    <div class="text-gray-500 flex-grow-1 me-4">Kolyeler</div>
                                    <div class="fw-bolder text-gray-700 text-xxl-end">@ViewBag.Necklace</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-flex flex-column content-justify-center w-100">
                                <div class="d-flex fs-6 fw-semibold align-items-center">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #0D0E12"></div>
                                    <div class="text-gray-500 flex-grow-1 me-4">Charm'lar</div>
                                    <div class="fw-bolder text-gray-700 text-xxl-end">@ViewBag.Charm</div>
                                </div>
                                <div class="d-flex fs-6 fw-semibold align-items-center my-3">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #0D0E12"></div>
                                    <div class="text-gray-500 flex-grow-1 me-4">Küpeler</div>
                                    <div class="fw-bolder text-gray-700 text-xxl-end">@ViewBag.Earring</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/assets-admin/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/assets-admin/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>
    <script src="/assets-admin/js/widgets.bundle.js"></script>
    <script src="/assets-admin/js/custom/widgets.js"></script>
    <script src="/assets-admin/js/custom/apps/chat/chat.js"></script>
    <script src="/assets-admin/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="/assets-admin/js/custom/utilities/modals/users-search.js"></script>
}