<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>


<script src="@Url.Content("~/assets-admin/libs/@popperjs/core/umd/popper.min.js")"></script>
<script src="@Url.Content("~/assets-admin/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/assets-admin/libs/node-waves/waves.min.js")"></script>
<script src="@Url.Content("~/assets-admin/libs/simplebar/simplebar.min.js")"></script>
<script src="@Url.Content("~/assets-admin/js/simplebar.js")"></script>
<script src="@Url.Content("~/assets-admin/libs/@simonwep/pickr/pickr.es5.min.js")"></script>
<script src="@Url.Content("~/assets-admin/js/defaultmenu.js")"></script>