@model List<ResultSliderDto>

<div class="slider_area home_slider_two owl-carousel">
    @foreach (var item in Model)
    {
        <div class="single_slider" data-bgimg="@item.ProductImage">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content">
                            <p>@item.ProductDescription</p>
                            <h1>@item.ProductName</h1>
                            <p class="slider_price"><span>@item.ProductPrice</span> @item.PriceDescription</p>
                            <a class="button" href="/Product/ProductDetail?id=@item.ProductID&code=@item.CouponCode">Şimdi Satın Al</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>