@model ProductImageViewModel

@{
    ViewData["Title"] = "UpdateImage";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">Ürün Fotoğrafı Güncelle</h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Ürünler</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ürün Fotoğrafları</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Ürün Fotoğrafı Güncelle
                    </div>
                    <div class="d-flex">
                    </div>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="row gy-4 mb-4">
                            <div class="col-xxl-12">
                                <label for="txt-product-image-1" class="form-label">Ürün Fotoğrafı 1</label>
                                <input type="text" id="txt-product-image-1" class="form-control" value="@Model.GetProductImageDto.Image1" asp-for="UpdateProductImageDto.Image1" />
                            </div>
                            <div class="col-xxl-12">
                                <label for="txt-product-image-2" class="form-label">Ürün Fotoğrafı 2</label>
                                <input type="text" id="txt-product-image-2" class="form-control" value="@Model.GetProductImageDto.Image2" asp-for="UpdateProductImageDto.Image2" />
                            </div>
                            <div class="col-xxl-12">
                                <label for="txt-product-image-3" class="form-label">Ürün Fotoğrafı 3</label>
                                <input type="text" id="txt-product-image-3" class="form-control" value="@Model.GetProductImageDto.Image3" asp-for="UpdateProductImageDto.Image3" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.GetProductImageDto.ProductImageID" asp-for="UpdateProductImageDto.ProductImageID" />
                    <input type="hidden" value="@Model.GetProductImageDto.ProductID" asp-for="UpdateProductImageDto.ProductID" />
                    <div class="card-footer text-end">
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

