@model GetAddressDto

<div class="col-lg-6 col-md-6">
    <h3>Adres Detayları</h3>
    <div class="row">
        <div class="col-12 mb-20">
            <label for="select-address">Adres Seç</label>
            <form method="get" asp-controller="Order" asp-action="Index">
                <input type="hidden" name="code" value="@ViewBag.Code" />
                <select class="niceselect_option" id="select-address" name="address" onchange="this.form.submit()">
                    @if (ViewBag.Address == null)
                    {
                        <option value="">Adres Seçiniz</option>

                        @foreach (var item in ViewBag.AddressList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        @foreach (var item in ViewBag.AddressList)
                        {
                            <option value="@item.Value" selected="@(ViewBag.Address == item.Value)">@item.Text</option>
                        }
                    }
                </select>
            </form>
        </div>
        <div class="col-12 mb-20"></div>
        <div id="collapsetwo" class="collapseone" data-parent="#accordion">
            <div class="row">
                <div class="col-lg-6 mb-20">
                    <label for="txt-name">Adınız</label>
                    <input type="text" id="txt-name" asp-for="Name" placeholder="Adınız" readonly>
                </div>
                <div class="col-lg-6 mb-20">
                    <label for="txt-surname">Soyadınız</label>
                    <input type="text" id="txt-surname" asp-for="Surname" placeholder="Soyadınız" readonly>
                </div>
                <div class="col-12 mb-20">
                    <label for="txt-address-title">Adres Başlığı</label>
                    <input type="text" id="txt-address-title" asp-for="AddressTitle" placeholder="Adres Başlığı" readonly>
                </div>
                <div class="col-12 mb-20">
                    <label>Adres Detayı</label>
                    <input type="text" id="txt-detail-1" asp-for="AddressDetail1" placeholder="Mahalle, Sokak, Semt" readonly>
                </div>
                <div class="col-12 mb-20">
                    <input type="text" id="txt-detail-2" asp-for="AddressDetail2" placeholder="Apartman, Kapı Numarası" readonly>
                </div>
                <div class="col-lg-6 mb-20">
                    <label for="txt-city">Şehir</label>
                    <input type="text" id="txt-city" asp-for="City" placeholder="Şehir" readonly>
                </div>
                <div class="col-lg-6 mb-20">
                    <label for="txt-district">İlçe</label>
                    <input type="text" id="txt-district" asp-for="District" placeholder="İlçe" readonly>
                </div>
                <div class="col-12 mb-20">
                    <label for="txt-country">Ülke</label>
                    <input type="text" id="txt-country" asp-for="Country" placeholder="Ülke" readonly>
                </div>
                <div class="col-lg-6 mb-20">
                    <label for="txt-phone">Telefon Numarası</label>
                    <input type="text" id="txt-phone" asp-for="Phone" placeholder="Telefon Numaranız" readonly>
                </div>
                <div class="col-lg-6 mb-20">
                    <label for="txt-mail">Mail Adresi</label>
                    <input type="text" id="txt-mail" asp-for="Email" placeholder="Mail Adresiniz" readonly>
                </div>
            </div>
        </div>
        <div class="col-12 mb-20"></div>
        <div class="col-12 mb-20"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var selectedId = '@ViewBag.Address';

        if (selectedId == "0") {
            $('#collapsetwo').hide();
        } else {
            $('#collapsetwo').show();
        }
    });
</script>
