@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close" style="--primary-rgb: 23, 43, 77;">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monsta Yönetim Paneli</title>

    <!--Favicon-->

    <link id="style" href="@Url.Content("~/assets-admin/libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets-admin/css/styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets-admin/css/icons.css")" rel="stylesheet">

    <script src="@Url.Content("~/assets-admin/js/authentication-main.js")"></script>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/assets-admin/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>